@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;

  background: -webkit-linear-gradient(
    to bottom,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #434343, #000000);

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.mobile-container {
  width: 400px;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.308);
  overflow: hidden;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

header input {
  background-color: #eee;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  font-family: inherit;
  outline: none;
}

header button {
  background-color: transparent;
  color: #aaa;
  font-size: 1.5rem;
  border: none;
  margin-left: 10px;
  margin-top: 2px;
  cursor: pointer;
}

.fav-container {
  padding: 0.25rem 1rem;
  text-align: center;
  background-color: rgba(173, 173, 173, 0.411);
}

.fav-meals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  list-style-type: none;
  padding: 0;
}

.fav-meals li {
  width: 75px;
  margin: 5px;
}

.fav-meals li img {
  border: 2px solid rgba(255, 255, 255, 0.473);
  box-shadow: 0 0 10px #eee;
  border-radius: 50px;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.fav-meals li span {
  font-size: 0.9rem;
}

.meal {
  border-radius: 3px;
  box-shadow: 0 0 10px 2px #3333331a;
  margin: 1rem;
  overflow: hidden;
}

.meal-header {
  position: relative;
}

.meal-header .random {
  position: absolute;
  top: 15px;
  background-color: #fff;
  padding: 0.25rem 0.25rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.meal-header img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.meal-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.meal-body h4 {
  margin: 0;
}

.meal-body button {
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  cursor: pointer;
}

.meal-body .fav-btn {
  color: gray;
}

.meal-body .fav-btn.active {
  color: rebeccapurple;
}
