@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;

  background: -webkit-linear-gradient(
    to bottom,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #434343, #000000);

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.mobile-container {
  width: 400px;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.308);
  overflow: hidden;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

header input {
  background-color: #eee;
  border: none;
  border-radius: 30px;
  padding: 0.5rem 1rem;
  font-family: inherit;
  outline: none;
}

header button {
  background-color: transparent;
  color: #aaaaaaa3;
  font-size: 1.5rem;
  border: none;
  margin-left: -33px;
  margin-top: -4px;
  cursor: pointer;
}

.fav-container {
  padding: 0.25rem 1rem;
  text-align: center;
  background-color: #eee;
}

.fav-meals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  list-style-type: none;
  padding: 0;
}

.fav-meals li {
  width: 75px;
  margin: 5px;
  position: relative;
}

.fav-meals li .clear {
  background-color: transparent;
  position: absolute;
  top: -5px;
  right: -5px;
  border: none;
  font-size: 1rem;
  opacity: 0;
  transition: opacity 0.2s ease;
  cursor: pointer;
}

.fav-meals li:hover .clear {
  opacity: 1;
}

.fav-meals li img {
  border: 2px solid rgba(255, 255, 255, 0.473);
  box-shadow: 0 0 10px #eee;
  border-radius: 50px;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.fav-meals li span {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75px;
  font-size: 0.9rem;
}

.meal {
  border-radius: 3px;
  box-shadow: 0 0 10px 2px #3333331a;
  margin: 1rem;
  overflow: hidden;
  cursor: pointer;
}

.meal-header {
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
}

.meal-header span {
  z-index: 2;
}

.meal-header:hover img {
  scale: 1.05;
}

.meal-header .random {
  position: absolute;
  top: 15px;
  background-color: #fff;
  padding: 0.25rem 0.25rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.meal-header img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  transition: 0.3s ease;
}

.meal-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.meal-body h4 {
  margin: 0;
}

.meal-body button {
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  cursor: pointer;
}

.meal-body .fav-btn {
  color: gray;
}

.meal-body .fav-btn.active {
  color: rebeccapurple;
}

.popup-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  transition: 0.3s ease;
}

.popup {
  background-color: rgb(255, 255, 255);
  max-width: 600px;
  max-height: 90vh;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 5px;
  position: relative;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(184, 184, 184, 0.493);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

.popup h1 {
  text-align: center;
  margin-top: 0;
}

#close-popup {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 100;
}

.popup-container.hidden {
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

p,
li {
  font-size: 15px;
}

.fa-solid,
.fas {
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
  font-size: 1rem;
}
