@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background: linear-gradient(to top, #373b44, #4286f4);
  background: linear-gradient(to top, #0f2027, #203a43, #2c5364);
}
