@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #7bdaf3;
  display: flex;
  flex-wrap: wrap;
}

.notes {
  background-color: #fff;
  height: 400px;
  width: 400px;
  margin: 20px;
}
